# This file is for unifying the coding style for different editors and IDEs.
# For more information, visit editorconfig.org.

# WordPress Coding Standards:
# https://make.wordpress.org/core/handbook/coding-standards/

root = true

[*]
charset = utf-8                           # Set the character set to UTF-8.
end_of_line = lf                          # Use LF (linefeed) for line endings.
indent_size = 4                           # Indentation size is 4 spaces.
indent_style = tab                        # Use tabs for indentation.
insert_final_newline = true               # Insert a final newline at the end of the file.
trim_trailing_whitespace = true           # Trim trailing whitespace at the end of lines.

[*.txt]
trim_trailing_whitespace = false          # Disable trimming trailing whitespace for .txt files.

[*.{md,json,yml}]
trim_trailing_whitespace = false          # Disable trimming trailing whitespace and use spaces for indentation for specific file types.
indent_style = space                      # Use spaces for indentation.
indent_size = 2                           # Indentation size is 2 spaces.

[*.json]
indent_style = tab                        # Use tabs for indentation specifically for .json files.

[*.{js,jsx,ts,tsx}]
indent_size = 2                           # Set indent size to 2 for js, jsx, ts, tsx files.
